@model ResultAuthorByBlogIdDto
<div class="about-author d-flex p-4 bg-light">
    <div class="bio mr-5">
        <img src="@Model.coverImage" alt="Image placeholder" class="img-fluid mb-4" style="height:150px;width:180px;">
    </div>
    <div class="desc">
        <h3>@Model.name</h3>
        <p>@Model.description</p>
    </div>
</div>