
@model CreateCarDto
@{
	ViewData["Title"] = "CreateCar";
	Layout = "~/Views/UIAdmin/Index.cshtml";
}

<div class="card">
	<div class="card-body">	
		<p class="card-subtitle mb-4">Araba Ekleme Sayfası</p>
		<form method="post">

			<div class="form-group">
				<label for="exampleInputEmail1">Model</label>
				<input type="text" class="form-control"  asp-for="model">	
			</div>
			<br />
			<div class="form-group">
				<label for="exampleInputEmail1">Marka</label>
				@Html.DropDownListFor(x=>x.brandID,(List<SelectListItem>)ViewBag.Brand,new{@class="form-control"})
			</div>
			<br />
			<div class="form-group">
				<label for="exampleInputEmail1">Görsel</label>
				<input type="text" class="form-control" asp-for="coverImageUrl">
			</div>
			<br />
			<div class="form-group">
				<label for="exampleInputEmail1">Kilometre</label>
				<input type="number" class="form-control" asp-for="Km">
			</div>
			<br />
			<div class="form-group">
				<label for="exampleInputEmail1">Vites</label>
				<input type="text" class="form-control" asp-for="Transmission">
			</div>
			<br />
			<div class="form-group">
				<label for="exampleInputEmail1">Koltuk</label>
				<input type="number" class="form-control" asp-for="Seat">
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Bagaj</label>
				<input type="number" class="form-control" asp-for="Luggage">
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Yakıt Türü</label>
				<input type="text" class="form-control" asp-for="Fuel">
			</div>
			
			<div class="form-group">
				<label for="exampleInputEmail1">Kapak Görseli</label>
				<input type="text" class="form-control" asp-for="BigImageUrl">
			</div>
			<br />


			<button class="btn btn-primary">Kaydet</button>
	
		</form>
		
	</div> 
</div>
