@model UpdateAuthorAdminDto
@{
    ViewData["Title"] = "UpdateAuthor";
    Layout = "~/Views/UIAdmin/Index.cshtml";
}

<div class="card">
	<div class="card-body">
		<p class="card-subtitle mb-4">Yazar Ekleme Sayfası</p>
		<form method="post">
			@Html.HiddenFor(x => x.AuthorID)

			<div class="form-group">
				<label for="exampleInputEmail1">Ad SoyAd</label>
				<input type="text" class="form-control" asp-for="Name">
			</div>
			<br />

			<div class="form-group">
				<label for="exampleInputEmail1">Açıklama</label>
				<input type="text" class="form-control" asp-for="Description">
			</div>
			<br />

			<div class="form-group">
				<label for="exampleInputEmail1">Resim Yolu</label>
				<input type="text" class="form-control" asp-for="CoverImage">
			</div>
			<br />

			<button class="btn btn-primary">Güncelle</button>

		</form>

	</div>
</div>

