@model CreateCategoryAdminDto
@{
	ViewData["Title"] = "CreateCategory";
	Layout = "~/Views/UIAdmin/Index.cshtml";
}

<div class="card">
	<div class="card-body">
		<p class="card-subtitle mb-4">Kategori Ekleme Sayfası</p>
		<form method="post">

			<div class="form-group">
				<label for="exampleInputEmail1">Başlık</label>
				<input type="text" class="form-control" asp-for="Name">
			</div>
			<br />
			<button class="btn btn-primary">Kaydet</button>

		</form>

	</div>
</div>

