@model CreateFooterAddressAdminDto
@{
    ViewData["Title"] = "CreateFooterAddress";
    Layout = "~/Views/UIAdmin/Index.cshtml";
}

<div class="card">
	<div class="card-body">
		<p class="card-subtitle mb-4">Alt Başlık Ekleme Sayfası</p>
		<form method="post">

			<div class="form-group">
				<label for="exampleInputEmail1">mail</label>
				<input type="text" class="form-control" asp-for="Email">
			</div>
			<br />

			<div class="form-group">
				<label for="exampleInputEmail1">Açıklama</label>
				<input type="text" class="form-control" asp-for="Description">
			</div>
			<br />

			<div class="form-group">
				<label for="exampleInputEmail1">Numara</label>
				<input type="text" class="form-control" asp-for="Phone">
			</div>
			<br />

			<div class="form-group">
				<label for="exampleInputEmail1">Başlık</label>
				<input type="text" class="form-control" asp-for="Address">
			</div>
			<br />
			<button class="btn btn-primary">Kaydet</button>

		</form>

	</div>
</div>


