@{
	ViewData["Title"] = "BlogDetail";
	Layout = "~/Views/UILayoutController/Index.cshtml";

}



<section class="ftco-section ftco-degree-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-8 ftco-animate">

				@await Component.InvokeAsync("_GetBlogByIdComponentPartial", new { id = ViewBag.Id })

				@await Component.InvokeAsync("_GetTagsByBlogIdComponentPartial", new { id = ViewBag.Id })

				@await Component.InvokeAsync("_BlogAuthorDetailComponentPartial", new { id = ViewBag.Id })
				<div class="pt-5 mt-5">

					@await Component.InvokeAsync("_GetCommentByBlogIDComponentPartial", new { id = ViewBag.Id })

					@await Component.InvokeAsync("_CreateCommentComponentPartial", new { id = ViewBag.Id })

				</div>







			</div> <!-- .col-md-8 -->



			<div class="col-md-4 sidebar ftco-animate">

				@await Component.InvokeAsync("_SideBarComponentPartial")

				@await Component.InvokeAsync("_CategoryComponetPartial")

				@await Component.InvokeAsync("_Last3BlogsComponentPartial")

				@await Component.InvokeAsync("_AllTagCloudsComponentPartial")



				<div class="sidebar-box ftco-animate">
					<h3>Blog Köşesi</h3>
					<p>Araba,motor ve daha bir çok konu ile ilgili bloglar değerli yazarlarımız tarafından sizler için hazırlanmaktadır.</p>
				</div>
			</div>

		</div>
	</div>
</section> 