@model ResultLocationDto
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<style>

	/* Sadece dropdown elementinin basic stilleri */
	.form-control {
		width: 100%; /* Kapsayıcısının genişliğini alsın */
		padding: 8px 12px; /* İç boşluk */
		border: 1px solid #ccc; /* Basit gri kenarlık */
		border-radius: 4px; /* Hafif yuvarlak köşeler */
		background-color: #fff; /* Beyaz arka plan */
		color: #333; /* Koyu gri yazı rengi */
		font-size: 16px; /* Okunur bir yazı boyutu */
		line-height: 1.5; /* Satır yüksekliği */
	}

		/* Seçeneklerin temel stili */
		.form-control option {
			color: #333;
			background-color: #fff;
		}
</style>
@await Component.InvokeAsync("_HeadUILayoutComponentPartial")
<body>

	@await Component.InvokeAsync("_NavbarUILayoutComponentPartial")

	@await Component.InvokeAsync("_MainCoverDefaultComponentPartial")



	<section class="ftco-section ftco-no-pt bg-light">
		<div class="container">
			<div class="row no-gutters">
				<div class="col-md-12	featured-top">
					<div class="row no-gutters">
						<div class="col-md-4 d-flex align-items-center">
							<form method="post" class="request-form ftco-animate bg-primary">
								<h2>Make your trip</h2>
								<div class="form-group">
									<label for="" class="label">Başlangıç Lokasyonu</label>
									@Html.DropDownListFor(x => x.locationID, (List<SelectListItem>)@ViewBag.SelectListItems, new { @class = "form-control"})
								</div>
								<div class="form-group">
									<label for="" class="label">Bitiş Lokasyonu</label>
									@Html.DropDownListFor(x => x.endlocationID, (List<SelectListItem>)@ViewBag.SelectListItems, new { @class = "form-control" })
								</div>
								<div class="d-flex">
									<div class="form-group mr-2">
										<label for="" class="label">Başlangıç Günü</label>
										<input type="text" class="form-control" id="book_pick_date" placeholder="Tarih">
									</div>
									<div class="form-group ml-2">
										<label for="" class="label">Bitiş Günü</label>
										<input type="text" class="form-control" id="book_off_date" placeholder="Tarih">
									</div>
								</div>

								<div class="form-group">
									<input type="submit" value="Araçları Görüntüle" class="btn btn-secondary py-3 px-4">
								</div>
							</form>
						</div>
						<div class="col-md-8 d-flex align-items-center">
							<div class="services-wrap rounded-right w-100">
								<h3 class="heading-section mb-4">Better Way to Rent Your Perfect Cars</h3>
								<div class="row d-flex mb-4">
									<div class="col-md-4 d-flex align-self-stretch ftco-animate">
										<div class="services w-100 text-center">
											<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span></div>
											<div class="text w-100">
												<h3 class="heading mb-2">Choose Your Pickup Location</h3>
											</div>
										</div>
									</div>
									<div class="col-md-4 d-flex align-self-stretch ftco-animate">
										<div class="services w-100 text-center">
											<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-handshake"></span></div>
											<div class="text w-100">
												<h3 class="heading mb-2">Select the Best Deal</h3>
											</div>
										</div>
									</div>
									<div class="col-md-4 d-flex align-self-stretch ftco-animate">
										<div class="services w-100 text-center">
											<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-rent"></span></div>
											<div class="text w-100">
												<h3 class="heading mb-2">Reserve Your Rental Car</h3>
											</div>
										</div>
									</div>
								</div>
								<p><a href="#" class="btn btn-primary py-3 px-4">Reserve Your Perfect Car</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>


	@await Component.InvokeAsync("_Last5CarsWithBrandDefaultComponentPartial")


	@await Component.InvokeAsync("_AboutUsComponentPartial")

	@await Component.InvokeAsync("_ServicesComponentPartial")

	@await Component.InvokeAsync("_BecomeAdriverComponentPartial")

	@await Component.InvokeAsync("_TestimonialComponentPartial")


	@await Component.InvokeAsync("_GetLast3BlogsWithAuthorNameComponantPartial")

	@await Component.InvokeAsync("_StatisticDefaultComponentPartial")


	@await Component.InvokeAsync("_FooterUILayoutComponentPartial")


	@await Component.InvokeAsync("_ScriptsUILayoutComponentPartial")


</body>
</html>