@model UpdateTestimonialAdminDto
@{
    ViewData["Title"] = "UpdateTestimonial";
    Layout = "~/Views/UIAdmin/Index.cshtml";
}

<div class="card">
	<div class="card-body">
		<p class="card-subtitle mb-4">Referans Ekleme Sayfası</p>
		<form method="post">
			<input type="hidden" asp-for="TestimonialID" />
			<div class="form-group">
				<label for="exampleInputEmail1">İsim</label>
				<input type="text" class="form-control" asp-for="Name">
			</div>
			<br />
			<div class="form-group">
				<label for="exampleInputEmail1">Başlık</label>
				<input type="text" class="form-control" asp-for="Title">
			</div>
			<br /><div class="form-group">
				<label for="exampleInputEmail1">Yorum</label>
				<input type="text" class="form-control" asp-for="Comment">
			</div>
			<br />
			<div class="form-group">
				<label for="exampleInputEmail1">Resim Yolu</label>
				<input type="text" class="form-control" asp-for="ImageUrl">
			</div>
			<br />

			<button class="btn btn-primary">Güncelle</button>
		</form>

	</div>
</div>

