@model UpdateSocialMediaAdminDto
@{
    ViewData["Title"] = "UpdateSocialMedia";
    Layout = "~/Views/UIAdmin/Index.cshtml";
}

<div class="card">
	<div class="card-body">
		<p class="card-subtitle mb-4">Sosyal Medya Güncelleme Sayfası</p>
		<form method="post">
			<input type="hidden" asp-for="SocialMediaID" />
			<div class="form-group">
				<label for="exampleInputEmail1">Başlık</label>
				<input type="text" class="form-control" asp-for="Name">
			</div>
			<br />

			<div class="form-group">
				<label for="exampleInputEmail1">İcon</label>
				<input type="text" class="form-control" asp-for="Icon">
			</div>
			<br />

			<div class="form-group">
				<label for="exampleInputEmail1">İcon Yolu</label>
				<input type="text" class="form-control" asp-for="Url">
			</div>
			<br />
			<button class="btn btn-primary">Güncelle</button>

		</form>

	</div>
</div>

