
<head>
	<title>Carbook</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="~/carbook-UI/css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="~/carbook-UI/css/animate.css">

	<link rel="stylesheet" href="~/carbook-UI/css/owl.carousel.min.css">
	<link rel="stylesheet" href="~/carbook-UI/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="~/carbook-UI/css/magnific-popup.css">

	<link rel="stylesheet" href="~/carbook-UI/css/aos.css">

	<link rel="stylesheet" href="~/carbook-UI/css/ionicons.min.css">

	<link rel="stylesheet" href="~/carbook-UI/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="~/carbook-UI/css/jquery.timepicker.css">


	<link rel="stylesheet" href="~/carbook-UI/css/flaticon.css">
	<link rel="stylesheet" href="~/carbook-UI/css/icomoon.css">
	<link rel="stylesheet" href="~/carbook-UI/css/style.css">
</head>